{% extends 'posts/base.html' %}
{% load static %}
<html>
    <head>
        <title>My Kodilla curse blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'posts/css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">My Kodilla curse blog</a></h1>
        </div>
        {% block post_add %}
            {% if user.is_authenticated %}
                <div class="addnew">
                    <a href="{% url 'post_new' %}" class="btn btn-primary">Add new post</a>
                </div>
            {% else %}
                <p>Please login to add new post.</p>
            {% endif %}
        {% endblock post_add %}
        {% block content %}
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        {{ post.created_on }}
                    </div>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <p>{{ post.content|linebreaksbr }}</p>
                </div>
            {% endfor %}
        {% endblock %}
    </body>
</html>
